/* marquee_home_design_animation */
.scroller{
    margin-bottom: 10svh;
    background-color: var(---Darker_Black);
}
.tag-list{
    list-style: none;
    white-space: nowrap;
    min-width: 0;
}

.tag-list li{
    text-transform: uppercase;
    color: var(---White);
    font-size: 1.5rem;
}

/* .tag-list li::after{
    content: "  -";
} */

.scroller__inner{
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated=true]{
    /* border-block: 1px solid var(---Darker_Black); */
    overflow: hidden;
    /* -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

.scroller[data-animated=true] .scroller__inner{
    max-width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="left"]{
    --_animation-direction: forwards;
}
.scroller[data-direction="right"]{
    --_animation-direction: reverse;
}

.scroller[data-animated=true] .scroller__inner:hover{
    animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}